section(class='section section--home', id='home')
  div(class='container')

    div(class='home')
      h1 Boilerplate 2018

      div(class='home__list')
        div(class='item')
          h3 ### Tarefas Gulp.js

          p Lista de tarefas inclusas em
            strong `gulp_tasks`.

          ul
            li -
              strong  `images.js`
              |  responsável copiar e otimizar imagens para pasta `public`.
            li -
              strong  `javascripts.js`
              |  concatena todas arquivos inclusos em `app/src/components`, compila e gera um bundle.
            li -
              strong  `pug.js`
              |  compila os arquivos `.pug` e gera um HTML final.
            li -
              strong  `server.js`
              |  inicia servidor local com Browser Sync.
            li -
              strong  `stylus.js`
              |  compila arquivos `.styl` para `.css`.
            li -
              strong  `watch.js`
              |  observa mudanças no código.

        div(class='item')
          h3 ### Iniciando com Gulp.js

          p Neste projeto é utilizado `gulp.js` para automatizar tarefas rotineiras.

          p Comandos para iniciar seu `gulpfile.babel.js`.
          ul
            li -
              strong  `gulp`
              |  para executar a tarefa `default`.
            li -
              strong  `gulp images`
              | para otimizar as imagens
            li -
              strong  `gulp javascripts`
              | para compilar arquivos `.js`
            li -
              strong  `gulp pug`
              | para compilar arquivos `.pug`
            li -
              strong  `gulp browserSync`
              | para iniciar o servidor local
            li -
              strong  `gulp stylus`
              | para compilar arquivos `.styl`
            li -
              strong  `gulp watch`
              | para iniciar observador de alterações no código

          p Ou você pode simplesmente digitar

          strong ``` npm run start ```

          p * Após iniciar a tarefa `default` do gulp ou utilizar `npm run start`, serão disponibilizados dois links para acessar o projeto.

          ul
            li - Local:
              strong http://localhost:3000/
            li - Externo:
              strong http://your-ip:3000/

        div(class='item')
          h3 ### Executando testes

          p Abaixo os comandos para começar a rodar os testes.

          h3 ### Uso básico

          p Para executar o teste apenas uma vez.

          strong ```npm test```

          h3 ### Uso com 'watch'

          p Para ficar assistindo mudanças no código do teste.

          strong ```npm run test:tdd```
