// =========================================
// Animations ------------------------------

  // -------------------------------------
  // Slide to Left
  @keyframes slideRight
    0%
      right 0px
      visibility hidden
      opacity 0
    100%
      right -175px
      visibility visible
      opacity 1

  // -------------------------------------
  // Rotation effect
  @keyframes rotation
    0%
      transform: rotate(0deg)
    100%
      transform: rotate(360deg)
