.button {
  position: relative;
  display: inline-block;

  padding: 15px 50px;
  margin: 5px auto 10px;

  font-weight: bold;
  font-size: 15px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);
  background-color: c-gray-light;
  color: c-black;

  text-transform: uppercase;
  border-style: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &--yellow {
    background-color: c-yellow;
    color: c-white;
  }

  &--blue {
    background-color: c-blue;
    color: c-white;
  }

  &--more {
    background-color: c-yellow;
    color: c-text-1;
  }
}
