.label {
  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: .5rem;
  text-align: left;

  p {
    color: #8994a3;
    font-size: 12px;
  }

  &--md {
    width: 49%;
    margin-right: 1%;
  }
}
