.x-modal {
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 9999;

    display: none;
    width: 100vw;
    height: 100vh;

    animation: fadeOut 300ms ease;

    background-color: rgba(0, 0, 0, 0.5);

    &.is-active {
        animation: fadeIn 300ms ease;
        display: block;
    }

    &__close {
        background-color: c-yellow;
        color: c-white;

        border: 0px;
        padding: 8px 25px 8px 10px;
        font-size: 12px;

        text-transform: uppercase;

        position: absolute;
        top: -30px;
        right: 0px;

        &:before {
            content: '';

            display: inline-block;
            width: 12px;
            height: 2px;

            background-color: c-white;
            border-radius: 5px;

            position: absolute;
            top: 13px;
            right: 8px;

            transform: rotate(-45deg);
        }
        &:after {
            content: '';

            display: inline-block;
            width: 12px;
            height: 2px;

            background-color: c-white;
            border-radius: 5px;

            position: absolute;
            top: 13px;
            right: 8px;

            transform: rotate(45deg);
        }
    }

    &__content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        display: block;
        width: 75%;
        height: 300px;
        margin: 0px auto;

        background-color: c-white;
        padding: 30px 40px;
    }

    &__register {
        display: block;
        text-align: center;
        animation: fadeIn 300ms ease;

        h2 {
            color: $c-yellow;
            font-weight: 900;
            font-size: 30px;
            text-transform: uppercase;
        }

        .x-form {
            clearfix();
            text-align: left;
            margin: 20px 0px;

            button {
              width: 100%;
            }

            .x-col-6 {
                grid(50%);
                padding: 0px 10px;

                &.x-contact {
                    label {
                        grid(50%);
                        &:first-child{
                            padding-right: 20px;
                        }
                    }
                }
            }
        }

        &.is-active {
            display: none;
        }
    }

    &__loading {
        display: none;
        text-align: center;
        animation: fadeIn 300ms ease;

        figure {
            display: block;
            width: 54px;
            margin: 60px auto 10px;

            img {
                animation: rotation 1250ms infinite linear;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: 300;
            margin-top: 30px;
        }

        &.is-active {
            display: block;
        }
    }

    &__success {
        display: none;
        text-align: center;
        animation: fadeIn 300ms ease;

        h5 {
            font-size: 20px;
            font-weight: 900;
            margin-top: 10px;
        }

        h6 {
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;
        }

        .x-left,
        .x-right {
            grid(50%)
        }

        .x-left {
            figure {
                margin-top: -55px;
                margin-left: -40px;
            }
        }

        .x-right {
            figure {
                img {
                    width: 54px;
                    margin-top: 35px;
                }
            }
        }

        &.is-active {
            display: block;
        }
    }

    &__error {
        display: none;
        text-align: center;
        animation: fadeIn 300ms ease;

        figure {
            img {
                width: 50px;
                margin-top: 10px;
            }
        }

        h5 {
            font-size: 20px;
            font-weight: 900;
            margin-top: 10px;
        }

        h6 {
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;

            span {
                display: block;
                color: #DB0000;
                margin-top: 10px;
            }
        }

        &.is-active {
            display: block;
        }
    }
}
@media only screen and (max-width: 768px) {
  .x-modal {
    .x-col-6 {
      width: 100% !important;
      padding: 0px !important;
    }
    .x-btn--register {
      padding: 2px 10px;
      color: transparent;
      position: relative;
      background-color: c-blue;
      &:before {
        content: 'Enviar';
        color: c-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3D(-50%, -50%, 0px);
      }
    }
    &__content {
      top: 30px;
      transform: translateY(0%);
      width: 100%;
      height: 100%;
      padding: 20px 10px;
    }
    &__close {
      top: -30px;
      right: 0px;
      width: 100%;
      height: 30px;
      padding: 8px 18px;
      z-index: 999999;
      background-color: c-white;
      color: c-black;
      text-align: right;
    }
    &__register {
      text-align: left;
      h2 {
        color: c-yellow;
      }
      p {
        color: c-text-2;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}
