.u-pull-left {
  float: left;
}
.u-pull-right {
  float: right;
}
.u-call {
  display: block;
  width: 260px;
  position: relative;
  color: c-white;

  font-weight: 700;
  font-size: font-1x;

  padding-left: 135px;

  &:before {
    content: 'Ou ligue pra gente ';
    font-weight: 300;
    font-size: font-1x;

    display: inline-block;
    width: 175px;

    position: absolute;
    top: -1px;
    left: 0px;
  }
}
