mixin planItemMobile(plan, valueOne, valueTwo, assistance, valueThree)
  table
    tbody
      tr
        td(class='table-left'): h5 Cobertura
        td(class='table-right'): h5= plan
      tr
        td(class='table-left'): h5 Bolsa Protegida
        td(class='table-right'): h5= valueOne
      tr
        td(colspan='2', class='table-benefits') Beneficios
      tr
        td(class='table-left'): h5 Capitalização Série de 100 mil
        td(class='table-right'): h5= valueTwo
      tr
        td(class='table-left'): h5 Assistência Vítima de Crime
        td(class='table-right'): h5= assistance
      tr
        td(class='table-left'): h5 Prêmio Mensal
        td(class='table-right'): h5: b= valueThree

