.navigation{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;

  display: block;
  width: 100%;
  height: 70px;

  background-color: c-blue;
  color: c-white;
  border-bottom: 1px solid c-white;

  text-transform uppercase
  line-height 65px

  +el('left') {
    grid(50%)
    text-align left
  }
  +el('right') {
    grid(50%)
    text-align right
  }
}
