// =========================================
// Variables -------------------------------

	// ------------------------------
	// Colors
  c-black       =     #272727
  c-white       =     #FFFFFF

  c-gray        =     #909090
  c-gray-light  =     #F2F1F1

  c-red         =     #BA3638
  c-yellow      =     #FFC728

  c-text-1      =     #4A4A4A
  c-text-2      =     #8B94A4

  c-blue        =     #08BDD4
  c-blue-1      =     #EBF0F6
  c-blue-2      =     #B2EBF3
  c-blue-3      =     #00BED6

	// ------------------------------
	// Transition
	t-default      =  all 150ms ease

	// -------------------------------------
	// Font
	font-1x        =  16px
	font-2x        =  32px
	font-3x        =  64px

	lato           =  'Lato', sans-serif

	// -------------------------------------
	// Breakpoints
	bp-mobile		=			320px
	bp-tablet		=			768px
	bp-desktop	=			1024px
