div(class='x-modal')

    div(class='x-modal__content')
        button(type='button', class='x-modal__close') Fechar

        div(class='x-modal__register')
            h2 Cadastre-se
            p E um de nossos consultores entrará em contato com você em breve

            form(class='x-form')
                div(class='x-col-6')
                    label(class='label')
                        p Nome
                        input(type='text', id='x-name', class='input input--register', placeholder='Nome', name='nome')
                    label(class='label')
                        p E-mail
                        input(type='email', id='x-email', class='input input--register', placeholder='E-mail', name='email')

                div(class='x-col-6')
                    label(class='label label--md')
                        p Celular*
                        input(type='tel', id='x-cellphone', class='input input--register', placeholder='Celular', name='celular', maxlength='15')
                    label(class='label label--md')
                        p Telefone
                        input(type='tel', id='x-phone', class='input input--register', placeholder='Telefone', name='telefone', maxlength='14')

                div(class='x-col-6')

                div(class='x-col-6')
                    input(type='hidden', id='x-hidden', name='ds_produto', value='bp')
                    input(type='hidden', id='x-source', name='POLREF13_Source')
                    input(type='hidden', id='x-target', name='POLREF17_Target')
                    input(type='hidden', id='x-medium', name='POLREF16_UTM_Medium')
                    input(type='hidden', id='x-utmterm', name='POLREF19_UTM_Term')
                    input(type='hidden', id='x-adsetid', name='POLREF11_ADSETID_UTM_Content')
                    input(type='hidden', id='x-campaignid', name='POLREF12_CampaignID')

                    button(type='submit', class='x-btn x-btn--register button button--yellow') Receba uma cotação por telefone

        div(class='x-modal__loading')
            figure
                img(src='assets/images/icons/icon-loading.png')
            h6 Aguarde enquanto estamos
                br
                | cadastrando as suas informações

        div(class='x-modal__success')
            div(class='x-left')
                figure
                    img(src='assets/images/image-success.png')
            div(class='x-right')
                figure
                    img(src='assets/images/icons/icon-success.png')

                h5 Suas informações foram
                    br
                    | enviadas com sucesso!
                h6 Em instantes entraremos em contato pelo
                    br
                    | telefone cadastrado para informar sua cotação

        div(class='x-modal__error')
                figure
                    img(src='assets/images/icons/icon-error.png')

                h5 Seu cadastro não foi finalizado
                h6 Verifique os seguintes campos  e reenvie o formulário

                button(type='button', class='button button--yellow button--back') Voltar
