doctype html
html(lang='pt-br')

  head
    title Boilerplate 2018
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=EmulateIE11")
    meta(http-equiv="cache-control" content="no-cache")
    meta(http-equiv="expires" content="-1")
    meta(http-equiv="pragma" content="no-cache")
    link(rel='stylesheet', href='assets/stylesheets/application.css', media="all")

  body
    main
      include includes/navigation
      include views/section-home

    script(type="text/javascript", src='assets/javascripts/libs.js')
    script(type="text/javascript", src='assets/javascripts/bundle.js')
