// =========================================
// Sections --------------------------------
.container {
  max-width 1280px
  width 100%
  margin-left auto
  margin-right auto
}

.section {
  position relative

  display block
  width 100%
  height 100%

  box-sizing border-box

  &:before, &:after {
    content ''
    display block
    clear both
  }

  +mod('home') {
    width 100vw
    height 100%
    background-color #CCC
    color c-black
    padding 80px 0px 50px
    overflow hidden
  }
}
