.home {
  clearfix()

  +el('list') {
    h3 {
      margin 10px 0px
    }
    strong {
      margin 0px 5px
      background-color c-blue-1
      color c-gray
    }
    p {
      margin 10px 0px
    }
  }
}
